$baseFont:"Open Sans", sans-serif;

$pastel : #f8f2ef;
$brandColor: #1E88E5;
$mainColor : darken($brandColor, 5%);

$themeColor : #546e7a;

$infoColor : #67a6df;
$successColor : #9ccd4b;
$warningColor : #edcf87;
$dangerColor : #cb2221;

$cloudy : #636672;
$textColor : #3d3d3d;

// Measures
$containerWidth: 1170px;
$containerWidthSm: 800px;