@import "vars";
@import "mix";
body {
  background-color: $pastel; //#e0ddd7
}

.app-navbar {
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 10px;
}

.desktop-navbar {
  a {
    cursor: pointer;

    &.active {
      color: $brandColor;

      &:hover {
        color: darken($brandColor, 10%);
      }
    }
  }
}