@import "vars";
@import "mix";
@import "markup";

body {
  background-color: $pastel; //#e0ddd7
}

.img-responsive {
  max-width: 100%;
}

.app-navbar {
  justify-content: space-between;
  background-color: #fff;
}

.desktop-navbar {
  a {
    cursor: pointer;

    &.active {
      color: $brandColor;

      &:hover {
        color: darken($brandColor, 10%);
      }
    }
  }
}

.app-route-transition {
  > * {
    position: absolute;
    width: 100%;
    background-color: #fff;
  }
}
