@import "vars";
@import "mix";
@import "markup";

html, body {
  height: 100%;
}

body {
  //background-color: $pastel; //#e0ddd7
  //background: url('/public/img/presentation-bg-min.jpg') no-repeat bottom right;
  //background-size: cover;

  .app-route-transition {
    > div {
      //background: url('/public/img/presentation-bg-min.jpg') no-repeat bottom right;
      //background-size: cover;
    }
  }
}

.img-responsive {
  max-width: 100%;
}

.app-navbar {
  justify-content: space-between;
  background-color: #fff;
}

.desktop-navbar {
  a {
    cursor: pointer;

    &.active {
      color: $brandColor;

      &:hover {
        color: darken($brandColor, 10%);
      }
    }
  }
}

.app-route-transition {
  > * {
    position: absolute;
    width: 100%;
    background-color: #fff;
  }
}

.header-wrap {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 1;
}

